.new_user {
  background-color: rgba(82,82,82,0.5);
  padding: 1em;
  margin: 0 auto;
  @media(min-width: 750px) {
    width: 50%;
  }

  input[type='submit'] {
    border: $button-border;
    border-radius: $button-radius;
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    padding: $button-padding;
    text-transform: uppercase;
    vertical-align: middle;
    background-color: $light-blue;
    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent;
  }
}
