.main {
  .installation-home {
    .installation-list {
      .btn-large {
        margin-top: 1em;
      }
    }
  }

  .installations {
    .active, .activated, .installation-info {
      color: $text-color;
    }
    &.main-display {
      .row:first-child {
        height: 70vh;
      }
      #map {
        height: 70vh;
        width: 100%;
      }
      .instruction {
        width: 30%;
        margin: auto;
        img {
          vertical-align: bottom;
        }
      }
      .resources {
        margin-top: 2em;
      }
    }
  }
}
