@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('/assets/Avenir Next Condensed.ttc') format("ttc");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next';
  src: url('/assets/Avenir Next.ttc') format("ttc");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('/assets/Avenir.ttc') format("ttc");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Light';
  src: url('/assets/AvenirLTStd-LightOblique-1.otf') format("otf");
  font-weight: 100;
  font-style: normal;
}

.material-icons {
  font-size: 2.5em;
}
