html {
  color: $text-color;
  body {
      font-family: 'Avenir', sans-serif;
      font-size: 16px;
      background-color: #1a1a1a;
      background: image-url('cc-background.jpg');
      background-repeat: repeat;
      margin: 2em;
      @media (min-width: 2000px) {
        font-size: 2em;
        margin: 4em;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          color: #f8ffff;
      }

      h1 {
          font-size: 2.5em;
      }

      h2 {
          font-family: 'Avenir Next';
          font-size: 1.8em;
          font-weight: 100;
      }

      h3 {
          font-size: 1.5em;
      }

      h1.header {
          color: $text-color;
          font-family: "Avenir Next", sans-serif;
          font-weight: 100;
          font-size: 3em;
          margin: 0;
          line-height: 2em;

          .bold {
              font-weight: 500;
          }
      }

      .home-header {
          text-align: center;

          h1 {
              line-height: 1em;
          }
      }

      a,
      a:active,
      a:visited {
          color: $link-color;
          transition: color 0.5s ease-in-out;

          &:hover :not(.btn) {
              color: $link-color-hover;
              transition: color 0.5s ease-in-out;
              text-decoration: none;
          }
      }

      
      .btn-default,
      a.btn-default {
          border: 1px solid $blue;
          border-radius: 5px;
          box-shadow: 2px 1px 1px $blue;
          background-color: $light-blue;
          color: #000;
          padding: 1em;
          margin-right: 1em;

          &:hover {
              color: #000;
              background-color: darken($light-blue, 15%);
              border: 1px solid darken($light-blue, 15%);
          }
      }

      .intro {
          margin-left: 4em;
      }

      .story-link {}

      .location {
          text-transform: uppercase;
      }
      .disorder-header {
        font-size: 1.5em;
      }
      .disorder-key {
          .disorder-icon {
              cursor: pointer;
              margin: 0.5em 2.5em;
              text-transform: uppercase;
              white-space: nowrap;

              &.disabled {
                  opacity: 0.5;
              }

              &:before {
                  content: "";
                  margin-right: 0.5em;
                  border-radius: 5px;
                  height: 15px;
                  width: 25px;
                  display: inline-block;
                  @media (min-width: 2000px) {
                      height: 20px;
                      width: 30px;
                  }
              }

              &.depression:before {
                  background-color: #03264c;
              }

              &.anxiety:before {
                  background-color: #ffff00;
              }

              &.bipolar:before {
                  background-color: #64f566;
              }

              &.adhd:before {
                  background-color: #ff9900;
              }

              &.dementia:before {
                  background-color: #7f47dd;
              }

              &.ocd:before {
                  background-color: #94261c;
              }

              &.schizophrenia:before {
                  background-color: #8f2750;
              }

              &.autism:before {
                  background-color: #4a8bcb;
              }

              &.ptsd:before {
                  background-color: #159993;
              }
          }
      }
  }
}
