= form_for submission, html:{class: "submission-form anecdote"} do |f|
  .row
    .col.s12
      %h3 Share Something Personal
      .fieldset
        .input-field
          = text_area_tag(:anecdote, nil, cols: 20, rows: 15, id: "icon_prefix2", class: "materialize-textarea", placeholder: "Thank you for choosing to share more of your story")
      .share-more
        %p If you'd like, you can provide information about yourself that will help mental health researchers with their work.
        .input-field
          .next-form.btn{"data-this-form":"anecdote","data-next-form":"research"} Share With Researchers
          = f.submit value: "I'm finished, project now", class: "waves-effect waves-light btn save-anecdote", "data-this-form":"anecdote", "data-next-form":"index"
