= form_for submission do |f|
  .form-group
    = f.select(:illness_id, Illness.all.collect {|w| [w.name, w.id]})
    = f.select(:relationship, ['self', 'relation'])
  = f.button "Submit", class: 'btn waves-effect waves-light'
