.resources
  .row
    .col.s12.l6
      .carousel.carousel-slider{"data-indicators": "true"}
        -# TODO set up more than one resource body
        - resource = @resource.name.downcase
        .resource.carousel-item{class: resource}
          %h1.header
            = @resource.name
          .resource-info
            = raw @resource.body
      .go-back
        =link_to 'Go back', resources_path, class: 'btn'
    .col.s12.l6
      - unless @anecdotes.blank?
        .carousel.carousel-slider{"data-indicators": "true"}
          - @anecdotes.each do |anecdote|
            .anecdote.carousel-item
              %h1 Personal Story
              %p #{anecdote.body}
