.installations
  .row
    .col.s12.l6
      %h1.header
        = @resource.name
      .installation-info
        = @resource.body
  .row
    .col.s12.l6
      %h3.header
        Anecdote
      .installation-info
        = @anecdote.body
        